* {
    margin: auto;

}

.landing {
    width: 100%;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
}

#ptop {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman';

}

strong {
    font-weight: bold;
}

#happy {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    float: left;
    background-color: rgb(250, 245, 244);
    color: black;


}

#party {
    width: 150px;
    height: 60px;
    float: left;
    background-color: rgb(255, 51, 0);
    color: white;
    text-align: center;
    /* float: left; */
    display: flex;

}
#mid{
    display: flex;
    justify-content: space-around;
}
#breakfast {
    width: 150px;
    height: 80px;
    text-align: center;
    background-image: url("./assets/foodtop/breakfast.jpg");
    display: flex;
    position: relative;
    background-size: cover;

}

#lunch {
    width: 150px;
    height: 60px;
    text-align: center;
    background-image: url("./assets/foodtop/lunch.jpg");
    display: flex;
    background-size: cover;
    align-items: center;
}

#dinner {
    width: 150px;
    height: 60px;
    text-align: center;
    background-image: url("./assets/foodtop/dinner.jpg");
    display: flex;
    flex: auto;
    background-size: cover;
}

#mid {
    display: inline-block;
    /* float: left; */
    flex-direction: row;
}
.fastfood {
    background-color: white;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    /* clear:both; */
}
#fastfood {
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    width: auto;

}

#drinks {
    display: flex;
    float: right;
    height: 30%;
}

.drinks {
    background-color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}

/* GALLERY */

.gallery {
    background-image: url("./assets/backgrounds/foodsBg.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
}
#gallerysection{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;

}

nav>ul>li {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: darkgrey;
    /* justify-content: space-between; */
    height: 50px;
    width: 220px;   
    flex-grow: 3;
    align-items: center;
    margin-left: 0%;
}

nav>li{
    display: flex;
    margin-left: 0;
}
#fast{
    background-color: white;
    color:red 
}
#captions{
    display: flex;
    color: red;
    justify-content:center;

}

/* Customers secton css styles */
.customers {
    background-color: white;
    margin: 100px 200px 100px 200px;
    height: 200px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid grey; */
    box-shadow: 1px 1px 2px 2px grey;
    flex-wrap: wrap;
}

#happycustomers {
    background-color: white;
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 2px 0px 0px rgb(182, 181, 181);
    text-align: center;
    float: left;
    /* border: 2px solid grey; */
}

#menu {
    background-color: white;
    box-sizing: content-box;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin: 20px 60px 20px 600px;

}

/* subscribe section styles */
.contacts {
    background-image: url("./assets/backgrounds/subscribe.jpg");
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
#p127{
    color: white;
    font-weight:bold;
    font-size:30px ;
}
#email{
    background-color: rgb(161, 159, 159);
    opacity:0.4;
    width: 400px;
    text-align:left;
    height: 30px;
    color: white;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;

}
#subscribe{
    background-color: #F15A29;
    color: white;
     width: 100px;
    text-align:center;
    height: 30px;
    margin-right: 0%;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: content;
}

/* Footer section style */
#footer {
    background-color: rgb(240, 76, 11);
    align-items: center;
    display: flex;
    justify-content:space-between;
    flex-direction: column; 
    color: white;
}
#footermenu {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}
